@{
    var mallName = ViewData["MallName"] ?? "ABCD Mall";
}
<footer class="pt-5 pb-4 text-muted">
    <div class="row">
        <div class="col-md-4">
            <h5>@mallName</h5>
            <p class="small">Address: @ViewData["MallAddress"] ?? "123 Le Loi, HCMC"</p>
            <p class="small">Phone: @ViewData["MallPhone"] ?? "0123 456 789"</p>
        </div>

        <div class="col-md-2">
            <h6>About</h6>
            <ul class="list-unstyled small">
                <li><a href="@Url.Action("About","Home")">About us</a></li>
                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
            </ul>
        </div>

        <div class="col-md-3">
            <h6>Support</h6>
            <ul class="list-unstyled small">
                <li><a href="@Url.Action("Help","Home")">FAQ</a></li>
                <li><a href="@Url.Action("Parking","Mall")">Parking</a></li>
            </ul>
        </div>

        <div class="col-md-3 text-end">
            <small class="d-block">© @(DateTime.Now.Year) @mallName</small>
            <small class="d-block">Made with ♥</small>
        </div>
    </div>
</footer>
