@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Areas/Partner/Views/Shared/_LayoutPartner.cshtml";
    ViewData["Title"] = "Partner Dashboard";
}
@section headerContent
{
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />
}
<div style="margin-left:20px; margin-right: 50px">
    <h2>Product</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form action="@Url.Action("AddProduct", "Product")" method="post" enctype="multipart/form-data">
        @if (ViewBag.itemCate != null)
        {
            Semester03.Areas.Partner.Models.Category cate =
            (Semester03.Areas.Partner.Models.Category)ViewBag.itemCate;
            <input type="hidden" value="@cate.Id" name="CateId">
            <div class="form-group mb-3">
                <label>Category</label>
                <input type="text" class="form-control" name="CategoryName" value="@cate.Name" style="width: 300px;" readonly />
            </div>

            <div class="form-group mb-3">
                <label>Name</label>
                <input type="text" class="form-control" name="ProductName" placeholder="Product name" style="width: 300px;" required />
            </div>
            <div class="form-group mb-3">
                <label for="proPrice">Price</label>
                <input type="text" class="form-control" name="proPriceFormatted" placeholder="e.g. 10.000" id="proPriceFormatted" style="width: 300px;" />
                <input type="hidden" name="proPrice" id="proPrice" />
            </div>
            <div class="form-group mb-3">
                <label for="upFile">Image</label>
                <input type="file" class="form-control-file" name="upFile" id="upFile" />
            </div>
            <div>
                <label>Description</label>
                <textarea id="proDescription" name="proDescription"></textarea>
            </div>
            <div class="form-group mb-3">
                <label>Status</label><br />
                <input type="hidden" name="IsActiveHidden" value="0" />
                <input type="checkbox" name="ProductStatus" value="1" id="Active" />
                <label class="form-check-label" for="Active">Enable</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index", "Category", new{id = cate.TenantId})" class="btn btn-secondary">Back</a>
        </div>
        }
    </form>

    <form method="get" action="@Url.Action("Index", "Category")">
        <div>
            <strong>Search</strong>
        </div>
        <div class="input-group mb-3" style="width: 300px;">
            <input type="text" name="search" value="@ViewBag.Search" placeholder="Enter category name..." class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

        @if (ViewBag.listCategory != null)
        {
            var ls = (List<Semester03.Areas.Partner.Models.Category>)ViewBag.listCategory;
            if (ls != null && ls.Count > 0)
            {
                int i = ViewBag.StartIndex;
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in ls)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Name</td>
                                            <td>
                                                <img src="@Url.Content("~/uploads/" + item.Image)" style="max-width: 100px; max-height: 100px; display: block; margin-bottom: 10px;" />
                                            </td>
                                            <td>
                                                @if (item.Status == 1)
                                                {
                                                    <span style="color:green">Active</span>
                                                }
                                                else
                                                {
                                                    <span style="color:red">InActive</span>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Category", new {id = item.Id})">
                                                    <img src="@Url.Content("~/Icon/pen.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                                <a href="@Url.Action("DeleteCate", "Category", new {id = item.Id, tenantId = item.TenantId})" onclick="return confirm('Are you sure to delete this category ?')">
                                                    <img src="@Url.Content("~/Icon/delete.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{
                        string search = ViewBag.Search ?? "";
                    }
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" role="status" aria-live="polite" style="margin-left:20px">
                                @if (ViewBag.TotalItems > 0)
                                {
                                    <text>
                                        Page @ViewBag.CurrentPage
                                        of @ViewBag.TotalPages
                                    </text>
                                }
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 , search = search})">Previous</a>
                                    </li>

                                    @for (int j = 1; j <= ViewBag.TotalPages; j++)
                                    {
                                        <li class="paginate_button page-item @(j == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { page = j, search = search })">@j</a>
                                        </li>
                                    }

                                    <li class="paginate_button page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, search = search })">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center">No Category.</td>
                        </tr>
                    </tbody>
                </table>
            }
        }
        else
        {
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td colspan="4" class="text-center">No Product.</td>
                    </tr>
                </tbody>
            </table>
        }
    </form>
</div>
@section scripts
{
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var editor = $("#proDescription").kendoEditor({
                tools: [
                    "bold",
                    "italic",
                    "underline",
                    "strikethrough",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "justifyFull",
                    "insertUnorderedList",
                    "insertOrderedList",
                    "indent",
                    "outdent",
                    "createLink",
                    "unlink",
                    "insertImage",
                    "insertFile",
                    "subscript",
                    "superscript",
                    "tableWizard",
                    "addRowAbove",
                    "addRowBelow",
                    "addColumnLeft",
                    "addColumnRight",
                    "deleteRow",
                    "deleteColumn",
                    "viewHtml",
                    "formatting",
                    "cleanFormatting",
                    "fontName",
                    "fontSize",
                    "foreColor",
                    "backColor",
                    "print",
                ]
            }).data("kendoEditor");
        });
    </script>
    <script>
           function setupFormattedInput(formattedId, hiddenId) {
            const formattedInput = document.getElementById(formattedId);
            const hiddenInput = document.getElementById(hiddenId);

            formattedInput.addEventListener('input', function () {
                // Xóa các ký tự không phải số
                let raw = this.value.replace(/\D/g, '');

                // Gán giá trị thật vào input ẩn
                hiddenInput.value = raw;

                // Hiển thị lại có dấu chấm hàng nghìn
                this.value = raw.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            });
        }
        setupFormattedInput('proPriceFormatted', 'proPrice');
    </script>

}