@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Areas/Partner/Views/Shared/_LayoutPartner.cshtml";
    ViewData["Title"] = "Partner Dashboard";
}
@section headerContent
{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />
}
<div style="margin-left:20px; margin-right: 50px">
    <h2>Your Shop</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.itemUser != null)
    {
        Semester03.Areas.Admin.Models.User user =
        (Semester03.Areas.Admin.Models.User)ViewBag.itemUser;
        <div class="form-group mb-3">
            <label>Partner Name</label>
            <input type="text" class="form-control" name="UserName" value="@user.FullName" style="width: 300px;" readonly />
        </div>
    }
    <form method="get" action="@Url.Action("Index", "Shop")">
        <div>
            <strong>Search</strong>
        </div>
        <div class="input-group mb-3" style="width: 300px;">
            <input type="text" name="search" value="@ViewBag.Search" placeholder="Enter shop name..." class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

        @if (ViewBag.listTenant != null)
        {
            var ls = (List<Semester03.Areas.Admin.Models.Tenant>)ViewBag.listTenant;
            if (ls != null && ls.Count > 0)
            {
                int i = 1;
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Tenant Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Tenant Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in ls)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Name</td>
                                            <td>
                                                @if (item.Status == 1)
                                                {
                                                    <span style="color:green">Active</span>
                                                }
                                                else
                                                {
                                                    <span style="color:red">InActive</span>
                                                }
                                            </td>
                                            <td>
                                                <img src="@Url.Content("~/Content/Uploads/Tenant/" + item.Image)" style="max-width: 100px; max-height: 100px; display: block; margin-bottom: 10px;" />
                                            </td>
                                            <td>
                                                @{
                                                    var types = (List<Semester03.Areas.Admin.Models.TenantType>)ViewBag.listTenantType;
                                                    var typeName = types.FirstOrDefault(t => t.Id == item.TypeId)?.Name ?? "";
                                                }
                                                @typeName
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Index", "Category", new {id = item.Id})">
                                                    <img src="@Url.Content("~/Icon/category.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                                <a href="@Url.Action("Index", "TenantPromotion", new {id = item.Id})">
                                                    <img src="@Url.Content("~/Icon/promote.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                                <a href="@Url.Action("Index", "Event", new {id = item.Id})">
                                                    <img src="@Url.Content("~/Icon/location.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                                <a href="@Url.Action("Edit", "Shop", new {id = item.Id})">
                                                    <img src="@Url.Content("~/Icon/pen.png")" style="width:1vw; height:2vh;" />
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{
                        string search = ViewBag.Search ?? "";
                    }
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" role="status" aria-live="polite" style="margin-left:20px">
                                @if (ViewBag.TotalItems > 0)
                                {
                                    <text>
                                        Page @ViewBag.CurrentPage
                                        of @ViewBag.TotalPages
                                    </text>
                                }
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 , search = search})">Previous</a>
                                    </li>

                                    @for (int j = 1; j <= ViewBag.TotalPages; j++)
                                    {
                                        <li class="paginate_button page-item @(j == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { page = j, search = search })">@j</a>
                                        </li>
                                    }

                                    <li class="paginate_button page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, search = search })">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tenant Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Image</th>
                            <th scope="col">Type</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tenant Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Image</th>
                            <th scope="col">Type</th>
                            <th scope="col">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center">No Tenant.</td>
                        </tr>
                    </tbody>
                </table>
            }
        }
        else
        {
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tenant Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Image</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tenant Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Image</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td colspan="4" class="text-center">No Tennant.</td>
                    </tr>
                </tbody>
            </table>
        }
    </form>
</div>
