@model Semester03.Areas.Client.Models.ViewModels.EventCancelEmailVm
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: 'Segoe UI', Arial, sans-serif;
            background: #f4f4f7;
            padding: 0;
            margin: 0;
        }

        .email-wrapper {
            max-width: 650px;
            margin: auto;
            background: white;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 4px 14px rgba(0,0,0,0.12);
        }

        .header {
            text-align: center;
            background: #e11d48;
            padding: 16px;
            color: #fff;
            border-radius: 8px;
        }

            .header h1 {
                margin: 0;
                font-size: 22px;
                font-weight: 700;
            }

        .section {
            margin-top: 25px;
        }

        .label {
            color: #64748b;
            font-size: 14px;
        }

        .value {
            font-size: 18px;
            color: #0f172a;
            font-weight: 700;
        }

        .footer {
            margin-top: 35px;
            text-align: center;
            font-size: 13px;
            color: #6b7280;
        }
    </style>
</head>

<body>

    <div class="email-wrapper">

        <div class="header">
            <h1>Event ticket cancellation</h1>
        </div>

        <div class="section">
            <p>Xin chào <strong>@Model.UserName</strong>,</p>
            <p>You have just canceled the ticket for the event:</p>

            <div class="label">Event name</div>
            <div class="value">@Model.EventName</div>

            <div class="label mt-3">Booking code</div>
            <div class="value">#@Model.BookingId</div>

            <br />

            <div class="label">Number of canceled tickets</div>
            <div class="value">@Model.CancelledQty vé</div>

            <div class="label mt-3">Remaining tickets</div>
            <div class="value">@Model.RemainingQty vé</div>

            <div class="label mt-3">Refund amount</div>
            <div class="value">@Model.RefundAmount.ToString("N0") đ</div>
        </div>

        <div class="section">
            <p>If you do not comply with this request, please contact the support department immediately.</p>
            <p>Thank you for using ABCD Mall's services.</p>
        </div>

        <div class="footer">
            This email was sent automatically. Please do not reply.
        </div>

    </div>

</body>
</html>
